<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="movieType" class="com.serenity.springioc.bean.ActionMovie">
    </bean>

    <!-- Dependency injection using applicationContext not in runner-->
    <bean id="moviePlayer" class="com.serenity.springioc.bean.MoviePlayer">
        <constructor-arg ref="movieType"/>
    </bean>


</beans>